@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: white;
  min-height: 100vh;
}
.test {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
